# Provider RPC and Alchemy key
NEXT_PUBLIC_PROVIDER_RPC=
NEXT_PUBLIC_ALCHEMY_KEY=
# Ethers.js's Provider Alchemy key for ENS
NEXT_PUBLIC_ALCHEMY_KEY_FOR_ENS=
# Public forwarder address
NEXT_PUBLIC_FORWARDER_ADDRESS=
# Public contract addresses
NEXT_PUBLIC_CONTRACT_MINT_NFT_MANAGER=
NEXT_PUBLIC_CONTRACT_EVENT_MANAGER=
NEXT_PUBLIC_CONTRACT_OPERATION_CONTROLLER=
# Openzeppelin Relayer API keys
OZ_RELAYER_API_KEYS="[""]"
OZ_RELAYER_API_SECRETS="[""]"
# Chain Information
NEXT_PUBLIC_CHAIN_ID=
NEXT_PUBLIC_CHAIN_NAME=
NEXT_PUBLIC_BLOCK_EXPLORER_URL=
NEXT_PUBLIC_METAMASK_RPC_URL=
# Pinata settings
NEXT_PUBLIC_PINATA_GATEWAY=
NEXT_PUBLIC_PINATA_API_KEY=
NEXT_PUBLIC_PINATA_API_SECRET=
NEXT_PUBLIC_PINATA_JWT=
# Web3 Storage key. This is used if Pinata setting is not set.
NEXT_PUBLIC_WEB3_STORAGE_KEY=
# MagicLink setting
NEXT_PUBLIC_MAGIC_LINK_KEY=
# Google Analytics seteting
NEXT_PUBLIC_GA_MEASUREMENT_ID=
# Thirdweb setting
NEXT_PUBLIC_THIRDWEB_CLIENT_ID=
# Blacklist of event group and event by id
NEXT_PUBLIC_EVENT_GROUP_BLACK_LIST="0"
NEXT_PUBLIC_EVENT_BLACK_LIST="0"